<div class="system-status-general-info commerce-tax-info">
  <h2 class="system-status-general-info__header">{{ 'Sales Tax Compliance Resources'|t }}</h2>
  <div class="system-status-general-info__items">
    <div class="system-status-general-info__item commerce-tax__item">
      <span class="commerce-tax__item-image commerce-tax__item-image--risk-assessment-map"></span>
      <div class="commerce-tax__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Sales Tax Risk Assessment'|t }}</h3>
        <p>{{ 'Get a breakdown of states where you may be obligated to collect sales tax. The free Avalara Sales Tax Risk Assessment can help you determine where your sales have created a need for you to register to collect and remit taxes.'|t }}</p>
        <p><a href="https://avlr.co/2SkjWiX" target="_blank" class="button button--small button--primary">{{ 'Take the assessment'|t }}</a></p>
      </div>
    </div>
    <div class="system-status-general-info__item commerce-tax__item">
      <span class="commerce-tax__item-image commerce-tax__item-image--avalara-logo"></span>
      <div class="commerce-tax__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Try Avalara AvaTax for free'|t }}</h3>
        <p>{{ 'Making sure you are charging the right tax rate in every state is hard. Avalara AvaTax helps by sending real-time sales tax calculations to your shopping cart. Drupal Commerce merchants can try AvaTax free with no commitment.'|t }}</p>
        <p><a href="https://avlr.co/37lvVTV" target="_blank" class="button button--small button--primary">{{ 'Get started with AvaTax'|t }}</a></p>
      </div>
    </div>
  </div>
</div>
