{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'pb-4',
  'mb-5',
  'overflow-hidden'
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="row g-5">
    <div class="col-md-7 order-md-last">
      <div class="mb-2">
        {{- product.product_categories -}}
      </div>
      {{- product.title -}}
      {{- product.brand -}}
      <div class="fs-4">{{- product.variation_price -}}</div>
      <hr/>
      {% if product.special_categories|render is not empty %}
        <div class="mb-3">
          {{- product.special_categories -}}
        </div>
      {% endif %}
      {{- product|without('variation_attributes', 'images', 'variation_images', 'title', 'variation_price', 'product_categories', 'brand', 'special_categories') -}}
    </div>
    <div class="col-md-5">
      {% if product.variation_images|render is not empty %}
        {{- product.variation_images -}}
      {% else %}
        {{- product.images -}}
      {% endif %}
    </div>
  </div>

</article>
